/* 页面进入过渡动画 */
.page-enter {
  opacity: 0;
  transform: translateY(100%);
}
/* 页面进入（被激活）过渡动画 */
.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms,
    transform 300ms;
}
/* 页面离开过渡动画 */
.page-exit {
  opacity: 1;
  transform: translateY(0%);
}
/* 页面离开（被激活）过渡动画 */
.page-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 300ms,
    transform 300ms;
}
